@import "Fonts/Fonts.less";

@White: #f7f5f4;
@LightGrey: #EEE;
@MediumGrey: #AAA;
@DarkGrey: rgb(52, 60, 60);
@Blue: #0074D9;
@LightBlue: lighten(@Blue, 20%);
@FacebookBlue: #3b5998;
@TwitterBlue: #3aaae1;
@Red: #FF4136;

body {
    background-image: linear-gradient(-90deg, #FFFFFF, #EEEAE7);
    color: @DarkGrey;
    text-align: center;
    font-family: oswaldmedium, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.428;
    margin: 0;
    padding: 0;

    h2, h3 {
        text-transform: capitalize;
    }

    h1 {
        font-family: againtsregular, sans-serif;
        font-size: 6em;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        text-align: center;
        margin: 0.5em;

        &:hover {
            cursor: default;
        }
    }

    h2 {
        font-family: oswaldmediumitalic, sans-serif;
        font-size: 2em;
    }

    h3 {
        font-family: oswaldmediumitalic;
        font-size: 1.2em;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        text-align: center;
    }

    a {
        color: @Blue;

        &:visited {
            color: @Blue;
        }

        &:hover, &:focus {
            color: @LightBlue;
        }

        &:active {
            color: @Blue;
        }
    }

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background: url(polina.jpg) no-repeat;
        background-size: cover;
    }

    nav {
        background: @DarkGrey;
        color: @White;
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);

        .hover {
            display: inline-block;
            vertical-align: top;
            position: relative;
            cursor: default;

            div {
                text-align: left;
                display: none;

                a {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    white-space: nowrap;
                }
            }

            &:hover, &:focus {
                text-decoration: underline;

                div {
                    position: absolute;
                    display: block;
                    background: @DarkGrey;
                    padding: 10px;
                    padding-top: 10px;
                }
            }
        }

        a {
            text-decoration: none;
            color: @White;
            display: block;
            font-family: oswaldmediumitalic, sans-serif;

            &:hover, &:focus {
                text-decoration: underline;
                color: @White;
            }

            &:visited {
                color: @White;
            }

            &#log-out, &#dashboard, &#social, &#cv {
                display: inline-block;
                vertical-align: top;
            }
        }

        h3 {
            margin: 0 10px;
        }

        #facebook, #twitter {
            line-height: 0;
            margin-bottom: 0.2em;

            svg {
                width: 30px;
                height: 30px;
                padding: 10px;
                border-radius: 5px;
                fill: @White;
            }

            &:hover, &:focus {
            }
        }

        #facebook {

            &:focus {
                svg {
                    background: lighten(@FacebookBlue, 20%);
                }
            }

            svg {
                background: @FacebookBlue;

                &:hover {
                    background: lighten(@FacebookBlue, 20%);
                }

                &:active {
                    background: @FacebookBlue;
                }
            }
        }

        #twitter {

            &:focus {
                svg {
                    background: lighten(@TwitterBlue, 20%);
                }
            }

            svg {
                background: @TwitterBlue;

                &:hover {
                    background: lighten(@TwitterBlue, 20%);
                }

                &:active {
                    background: @TwitterBlue;
                }
            }
        }
    }

    #main {
        a.project {
            color: @LightGrey;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            width: 400px;
            height: 225px;
            z-index: 2;
            overflow: hidden;
            margin: 0 1px;

            &:focus {
                .overlay {
                    img {
                        opacity: 0.5;
                    }
                }
            }

            .overlay {
                background: @DarkGrey;
                /*opacity: 0;
                -moz-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;*/
                h3 {
                    position: absolute;
                    width: 100%;
                    line-height: 225px;
                    margin: 0;
                    z-index: 6;
                    pointer-events: none;
                    font-size: 1.5em;
                }

                img {
                    width: 100%;
                    opacity: 0.7;
                    -moz-transition: opacity .2s;
                    -o-transition: opacity .2s;
                    -webkit-transition: opacity .2s;
                    transition: opacity .2s;
                    z-index: 5;

                    &:hover, &:focus {
                        opacity: 0.5;
                    }
                }
            }
        }

        .image {
            width: 400px;
            height: 225px;
            overflow: hidden;
            margin: auto;

            img {
                width: 100%;
            }
        }

        table, .form-group {
            text-align: center;
            width: 75%;
            margin: auto;

            img {
                width: 100px;
            }
        }

        table {
            border: 1px solid @MediumGrey;
            border-collapse: collapse;

            th, td {
                min-width: 20%;
            }

            td {
                font-size: 0.8em;
            }

            tr {
                border-bottom: 1px solid @MediumGrey;
            }
        }

        .form-group {
            border: none;
            margin-bottom: 20px;

            input[type=text], input[type=number], input[type=email], input[type=tel], input[type=date], input[type=url], select, textarea {
                font-family: Arial, Helvetica, sans-serif;
                border: none;
                border-radius: 2px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
                padding: 5px;
                width: 300px;

                &[type=file] {
                    box-shadow: none;
                }
            }
        }

        dl {
            dt {
                font-family: oswaldmediumitalic, sans-serif;
            }

            dd {
                margin: 0;
                margin-bottom: 20px;
            }

            img {
                margin-bottom: 20px;
            }
        }

        .about {
            p {
                font-size: 2em;
            }
        }

        .project {
            dl {
                width: 50%;
                margin: auto;
                text-align: justify;

                .image {
                    width: 100%;
                    height: 400px;
                }

                iframe {
                    width: 100%;
                    min-height: 400px;
                    margin-bottom: 20px;
                }
            }
        }

        .terms {
            width: 50%;
            margin: auto;
            text-align: justify;
        }
    }

    footer {
        margin-top: 2em;
        color: @MediumGrey;
        font-size: 0.8em;
    }

    #container {
        &.nav-open {
            #overlay {
                opacity: 0.7;
                width: 100%;
                height: 100%;
                -moz-transition: opacity .2s, width .1s 3s, height .5s .2s;
                -o-transition: opacity .2s, width .1s 3s, height .5s .2s;
                -webkit-transition: opacity .2s, width .1s 3s, height .5s .2s;
                transition: opacity .2s .1s, width .1s, height .1s;
            }

            .slide {
                -moz-transform: translate(330px);
                -ms-transform: translate(330px);
                -o-transform: translate(330px);
                -webkit-transform: translate(330px);
                transform: translate(330px);
                -moz-transition: transform .2s;
                -o-transition: transform .2s;
                -webkit-transition: transform .2s;
                transition: transform .2s;
            }

            #nav-background {
                -moz-transform: rotate(25deg) translate(300px);
                -ms-transform: rotate(25deg) translate(300px);
                -o-transform: rotate(25deg) translate(300px);
                -webkit-transform: rotate(25deg) translate(300px);
                transform: rotate(25deg) translate(300px);
            }

            button#nav {
                fill: @White;

                &:focus, &:hover {
                    -moz-transition: transform .2s;
                    -o-transition: transform .2s;
                    -webkit-transition: transform .2s;
                    transition: transform .2s;
                }
            }
        }

        &.nav-bump {
            #overlay {
                opacity: 0.3;
                width: 100%;
                height: 100%;
                -moz-transition: opacity .2s, width .1s 3s, height .5s .2s;
                -o-transition: opacity .2s, width .1s 3s, height .5s .2s;
                -webkit-transition: opacity .2s, width .1s 3s, height .5s .2s;
                transition: opacity .2s .1s, width .1s, height .1s;
            }

            .slide {
                -moz-transform: translate(10px, 0);
                -ms-transform: translate(10px, 0);
                -o-transform: translate(10px, 0);
                -webkit-transform: translate(10px, 0);
                transform: translate(10px, 0);
                -moz-transition: transform .2s .1s;
                -o-transition: transform .2s .1s;
                -webkit-transition: transform .2s .1s;
                transition: transform .2s .1s;
            }

            #nav-background {
                -moz-transform: rotate(25deg) translate(10px, 0);
                -ms-transform: rotate(25deg) translate(10px, 0);
                -o-transform: rotate(25deg) translate(10px, 0);
                -webkit-transform: rotate(25deg) translate(10px, 0);
                transform: rotate(25deg) translate(10px, 0);
            }
        }

        button#nav {
            z-index: 1993;
            position: fixed;
            top: 15px;
            left: -60px;
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            fill: @DarkGrey;
            -moz-transition: transform .2s, left .2s;
            -o-transition: transform .2s, left .2s;
            -webkit-transition: transform .2s, left .2s;
            transition: transform .2s, left .2s;

            &:focus, &:hover {
                -moz-transition: transform .2s;
                -o-transition: transform .2s;
                -webkit-transition: transform .2s;
                transition: transform .2s;
            }
        }

        .slide {
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            -moz-transition: transform .2s;
            -o-transition: transform .2s;
            -webkit-transition: transform .2s;
            transition: transform .2s;
        }

        nav {
            text-align: left;
            width: 180px;
            position: fixed;
            left: -305px;
            top: 20px;
            overflow: hidden;
            z-index: 1995;
            box-shadow: none;
            background: none;

            a {
                text-decoration: none;
                color: @DarkGrey;
                font-family: oswaldmediumitalic, sans-serif;
                text-align: left;
                font-size: 2.5em;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        #nav-background {
            background: @White;
            display: block;
            position: fixed;
            top: -300px;
            left: -620px;
            width: 500px;
            height: 1000px;
            z-index: 1993;
            -moz-transform: rotate(25deg);
            -ms-transform: rotate(25deg);
            -o-transform: rotate(25deg);
            -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
        }

        #overlay {
            width: 0;
            height: 0;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1990;
            opacity: 0;
            background: @DarkGrey;
            -moz-transition: opacity .2s, width .1s 3s, height .5s .2s;
            -o-transition: opacity .2s, width .1s 3s, height .5s .2s;
            -webkit-transition: opacity .2s, width .1s 3s, height .5s .2s;
            transition: opacity .2s, width .1s .2s, height .1s .2s;
        }
    }

    .validation-summary-errors, .text-danger {
        color: @Red;
        display: block;
    }
}

@media only screen and (max-device-width: 568px) {
    body {
        h1 {
            font-size: 3em;
        }

        #container {
            &.nav-open {

                .slide {
                    -moz-transform: translate(330px);
                    -ms-transform: translate(330px);
                    -o-transform: translate(330px);
                    -webkit-transform: translate(330px);
                    transform: translate(330px);
                    -moz-transition: transform .2s;
                    -o-transition: transform .2s;
                    -webkit-transition: transform .2s;
                    transition: transform .2s;
                }

                #nav-background {
                    -moz-transform: rotate(25deg) translate(220px);
                    -ms-transform: rotate(25deg) translate(220px);
                    -o-transform: rotate(25deg) translate(220px);
                    -webkit-transform: rotate(25deg) translate(220px);
                    transform: rotate(25deg) translate(220px);
                }
            }

            nav {
                a {
                    font-size: 2em;
                }
            }
        }
    }
}
