@font-face {
  font-family: 'againtsregular';
  src: url('againts.eot');
  src: url('againts.eot?#iefix') format('embedded-opentype'), url('againts.woff') format('woff'), url('againts.ttf') format('truetype'), url('againts.svg#againtsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldmedium';
  src: url('Oswald-Medium-webfont.eot');
  src: url('Oswald-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('Oswald-Medium-webfont.woff2') format('woff2'), url('Oswald-Medium-webfont.woff') format('woff'), url('Oswald-Medium-webfont.ttf') format('truetype'), url('Oswald-Medium-webfont.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldmediumitalic';
  src: url('Oswald-MediumItalic-webfont.eot');
  src: url('Oswald-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Oswald-MediumItalic-webfont.woff2') format('woff2'), url('Oswald-MediumItalic-webfont.woff') format('woff'), url('Oswald-MediumItalic-webfont.ttf') format('truetype'), url('Oswald-MediumItalic-webfont.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
